<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">
          
		<mapping map-null="false">
			<class-a>com.marcura.dadeskapi.classes.Instruction</class-a>
			<class-b>java.util.Map</class-b>
			<field>
				<a>name</a>
				<b>fullname</b>
			</field>
			<field custom-converter="com.marcura.dadeskapi.dozer.converter.EnumToStringConverter" custom-converter-param="com.enums.mappings.VisibleInstructionSetsMapping">
				<a>visible</a>
				<b>status</b>
			</field>
		</mapping>

</mappings>